
.table-responsive > .table {
	width: 100%;
	table-layout: fixed;
	word-wrap: break-word;
}
@media (max-width: 767px) {
	.table-responsive > .table {
		table-layout: auto;
	}
}

#big{
    text-decoration: none;
    display: block;
    /* width: 1000%; */
    height: 100%;
}